/*Globals*/
html{
  scroll-behavior: smooth;
}
h2,
h3,
h1,
h4 {
    text-align: center;
    text-transform: capitalize;
}
span img{
  display: inline-flex;
  align-self:center;
}
a{
  text-decoration: none;
}
nav a {
  color: #000000;
}
body {
/*background: linear-gradient(to left, white, #db4df19b );*/
 background: radial-gradient(circle at top left, rgb(255, 255, 255) 0%, transparent 40%),
             radial-gradient(circle at top center, white 0%, transparent 40%),
             radial-gradient(circle at top right, #db4df1b8 0%,#b6f3e3, transparent 40%),
             radial-gradient(circle at center, white 0%, transparent 40%),
             radial-gradient(circle at center left, #FFDFA8 0%,white, transparent 40%),
             radial-gradient(circle at center right, #db4df1b7 0%,white, transparent 40%),
             radial-gradient(circle at bottom left, #FFDFA8 0%,#ffffff,#ffffff, transparent 40%),
             radial-gradient(circle at bottom right, rgb(255, 255, 255) 0%, transparent 40%);
  background-blend-mode: screen;
  overflow-x: hidden;
}
/*header section*/
header {
    background: white;
    display: flex;
    justify-content:space-between;
    min-width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 10;
}
.nav-menu ul {
  padding-left: 0px;
}
/*logo section*/
.logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin:5px;
}
.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}
/*mouse hover on the logo section*/
.logo:hover {
    cursor: pointer;
}
.logo h3 {
    color: black;
    background: rgb(171, 33, 217);
    padding: 2px;
    border-radius: .5rem;
    text-transform: capitalize;
}
/*navigation section*/
nav ul {
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    list-style: none;
    flex-wrap: wrap;
    justify-self: end;
    margin-right: 5vw;
}

nav {
    display: flex;
    justify-self:right;
    justify-content: right;
    align-items: center;
}

nav ul li {
    width: 100px;
    text-align: center;
    text-transform: capitalize;
      transition: background 0.5s ease;
}
nav ul li:hover {
    background: rgb(205, 22, 234);
    border-radius: .5rem;
    cursor: pointer;
}/*header section END*/

/*MAIN SECTION*/
/*about me section*/
.aboutme {
    display: flex;
    flex-flow: row-reverse;
    position: relative;
    z-index: 1;
    top: 80px;
    justify-content:space-evenly;
    column-gap: 2rem;
    background: radial-gradient(circle at center left, #db4df1b8, white, transparent 40%);
    
}
.aboutme img {
    max-width: 400px;
    max-height: 400px;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
   box-shadow: 0 10px 20px rgba(27, 230, 30, 0.374);
   margin-right: 10px;  
}

.bigtext {
  font-size: x-large;
  font-weight: bolder;
}
.aboutme section p {
    max-width: 600px;
    padding: 10px;
   
    line-height:2em;

}

.aboutme section {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.121);
    border-radius: 10px;
    margin-left: 10px;
}

.button {
  width: 100px;
  height: 25px;
  border-radius: 8px;
  border: 0px;
  background: #a71df1;
  text-transform: capitalize;
  z-index: 10;
    transition: background 0.3s ease;
}

button:hover{
  background: #dc2af3;
  cursor: pointer;
}
.mainsect {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-between;
  background: #EDD8FF !important;
  margin-bottom: 10px;
  width: 40vw;
  
  
}
.bordered{
  border-radius: 10px !important;
}
.nobg {
  background: none !important;
  border-radius: 0px !important;
}
.mainsect h3,
.mainsect p {
  margin: 0px;
  justify-self: stretch;
}

.border-right {
  border-right: 2px solid white;
  border-radius: 0px;

}



/*LANGUAGES AND TOOLS SECTION*/

/*languages*/
.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  background:rgba(230, 227, 227, 0.783);
  backdrop-filter: blur(10px);
 padding: 5vh 5px;
 max-width: 1020px;
 justify-self: center;
 border-radius: 10px;
}

.programminglanguages, 
.toolstechnologies{
    background: #ede9e9ab;
    backdrop-filter: blur(3px);
    padding:2rem;
    position: relative;
    top: 100px;
  
}

.badge {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fefefe;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 16px;
  color: #333;
  transition: background 0.3s ease;
  margin-bottom: 1rem;
  z-index: 1;
}

.badge i {
  font-size: 20px;
}

.badge:hover {
  background: #d0d0d0;
  cursor: pointer;
}

/*EDUCATION SECTION*/
.education{
    min-width: 480px;
    width: 100vw;
    background: #ffffff;
    position: relative;
    top: 110px;
    display: grid;
    justify-content: center;
    width: 90vw;
    justify-self: center;
    border-radius: 10px;
    
}
.education-entry {
  text-align: center;
  margin-bottom: 30px;
  background: #9baca83c;
  border-radius: 10px;
  margin: 2px;
  max-width: 500px;

}

.education-entry h3 {
  margin: 0;
  color: #222;
}

.education-entry p {
  font-size: 1rem;
  color: #555;
}

.cv-button {
  display: inline-block;
  margin-top: 12px;
  background-color: #ff00f7de;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s ease;
  margin-bottom: 3px;
}

.cv-button:hover {
  background-color: #cc43f1;
}
h4{
    text-align: center;
    text-decoration: underline;
    background: #ffffff52;
}
.course-list {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 20px;
  color: #000000;
  background: #ffffff85;
  border-radius: 10px;
}

.course-list li {
  margin-bottom: 10px;
  margin-left: 5vw;
 
}/*education END*/

/*iterests section.*/

.interest  {
  min-width: 90vw;
  margin: 10px auto;
  font-size: 1rem;
  color: #444;
  line-height: 1.7;
  padding: 3px;
  position: relative;
  top: 100px;
  display:grid;
  flex-direction: column;
  justify-items: center;
  background: #00000016;
}
.interest > p ,
.interest > ul{
    background: #c1bebe62;
    padding: 2rem;
    text-align: left;
    max-width: 680px;
    line-height: 2rem;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 680px;
}

.interest h2 {
    text-decoration: underline;
}

/*projects*/

.projects {
    background: #0000005a;
    padding-bottom: 20px;
    position: relative;
    top: 100px;

}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2vw;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  text-align: center;
  transition: transform 0.2s ease;
}
.project-card .mobilepage,
.calculator{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
/*music image spinning*/
.spin {
  width: 200px; /* Optional: adjust size */
  height: auto;
  animation: spin 3s linear infinite;

}
/* Stop spinning on hover */
.spin:hover {
  animation-play-state: paused; 
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*music image spin END*/
.project-card2,
.project-card1,
.project-card3 {
    background:radial-gradient(circle at bottom left,#ae34f08a, white, transparent 40%),
              radial-gradient(circle at top right,#ae34f08a, white, transparent 40%);
      border-radius: 10px;
}
.project-card2:hover,
.project-card1:hover,
.project-card3:hover {
transition: transform 0.2s ease;
 cursor: pointer;
} 
.project-card:hover {
  transform: scale(1.02);
}

.project-card h3 {
  margin-top: 0;
  color: #222;
}

.project-card p {
  font-size: 0.95rem;
  color: #555;
  
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #bd65e9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
    transition: background 0.3s ease;
}

.project-link:hover {
  background-color: #e46ce8;
}


/*  contact*/
.contact {
    margin-top: 10px;
    position: relative;
    top: 100px;
    display: flex;
    justify-content:space-evenly;
    background: rgb(243, 241, 241);
    align-content: center;

}
.contact-form {
  width: 400px;
  margin: 10px auto 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
      background: #9c9b9b79;
      padding: 1em;
      border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  font-size: 1rem;
  font-family: inherit;
}

.contact-form button {
  padding: 12px;
  background-color: #aa00ff;
  border: none;
  color: rgb(214, 212, 212);
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #cd00f6;
}

.emsize {
  width: 1em;

}
.mycontacts{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top:40px;
}

.mainsec {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-items: center;
} 
.mainsec:hover {
  background: white;
  cursor: pointer;
  border: 0px;
  padding: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px;

}
.together p {
  margin: 0px;
}

.image {
  background: #df3cee6d;
  width: 40px;
  height: 40px;
  margin: 0px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.form-status {
  margin-bottom: 1em;
  font-weight: bold;
  display: none;
  transition: opacity 0.3s ease;
}


/* FOOTER SECTION*/

footer {
  position: relative;
  top: 100px;
  background: radial-gradient(circle at bottom left, #FFDFA8 0%,#ffffff,#ffffff, transparent 40%),
             radial-gradient(circle at bottom right, rgb(255, 255, 255) 0%, transparent 40%);
}

footer nav {
  display: flex;
  justify-self: center;
}

.footer {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1.5rem;
  justify-self: center;
  
}
li img{
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

/*RESPONSIVE HEADER HIDDEN MENU*/
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  margin-right: 30px;
  cursor: pointer;
}

/* Responsive menu */
@media (max-width: 840px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.888);
    z-index: 100;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    justify-items: center;
  }

  #menu-toggle:checked + .menu-icon + .nav-menu {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 1rem;
    padding-left: 0px;
  }

  .nav-menu ul li {
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }

  .nav-menu ul li:hover {
    background: #db4df1;
    color: white;
    width: 90vw;
  }
}

@media (max-width: 1024px) {
  body{
   background: radial-gradient(circle at top left, rgb(255, 255, 255) 0%, transparent 40%),
             radial-gradient(circle at top right, #db4df1b8 0%,#b6f3e3, transparent 40%),
             radial-gradient(circle at center, white 0%, transparent 40%),
             radial-gradient(circle at center left, #FFDFA8 0%,white, transparent 40%),
             radial-gradient(circle at center right, #db4df1b7 0%,white, transparent 40%),
             radial-gradient(circle at bottom left, #FFDFA8 0%,#ffffff,#ffffff, transparent 40%),
             radial-gradient(circle at bottom right, rgb(255, 255, 255) 0%, transparent 40%);
  }
  .aboutme {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .aboutme img {
    width: 60vw;
    height: 60vw;
    margin-bottom: 1rem !important;
  }

  .aboutme section {
    margin: 0;
    width: 90vw;
  }

  .mainsect {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    max-width: 80vw;
    margin-bottom: 10px;
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .interest > p, .interest > ul {
    width: 95%;
  }

  .contact {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .contact-form {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .button {
    display: flex;
    justify-self: center;
    margin-top: 10px;
    justify-content: center;
  }

  .mainsect {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .nobg {
    display: flex;
    flex-direction: column;
   justify-items: center;
   text-align: center;
  }
    /*border right in ina css turns to border-bottom for responsiveness*/ 
  .border-right{
    border-right: 0px;
    border-bottom: 2px solid white;
    
  }

.education-entry{
  width: 90vw;
  justify-self: center;
}

.education h2 {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  text-align: center;
  justify-self: center;
}
.education p{

  text-wrap: wrap;
  padding: 5px;

}
.education a {
  min-width: 100px;
  width: 150px;
  overflow-x: hidden;
}
.course-list {
  max-width: 90vw;
}
.interest p {
  text-align: center;
}
.interest ul {
  justify-self: center;
  max-width: 80vw;
  padding-left: 30px;
}
  .aboutme img {
    width: 80vw;
    height: 80vw;
  }

  .project-card {
    width: 90%;
  }


  .badge-container {
    flex-direction: column;
    align-items: center;
  }

  .mycontacts {
    width: 90%;
    max-width: 90vw;
  }
  .takecontact .centered {
    padding: 10px;
    text-align: center;
  }
.mainsec .together a,
.mainsec .together strong {
  font-size: smaller;
}

  .mainsec {
    justify-content: flex-start;
  }

  footer nav ul {
    justify-self: center;
    justify-content: center;
    padding-left: 0px;
    flex-direction: column;
    row-gap: .5rem;
   
  }
  footer nav ul li {
     border-bottom:1px solid #000000;
     width: 90vw;
     justify-self: center;
     margin-left: 5vw;
  }
}

.footer {
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  column-gap: .8rem;

}


/*loader css*/
/* Loader Wrapper - covers the entire screen */
.loader-wrapper {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  animation: fadeOutLoader 0s ease 2s forwards;
}

/* Bouncing Dots */
.dots-loader span {
  font-size: 3rem;
  color: #a71df1;
  display: inline-block;
  animation: bounce 1s infinite;
}

.dots-loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.dots-loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
}

/* Hide the loader after 3 seconds */
@keyframes fadeOutLoader {
  to {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

/* prevent content flashing under loader */
.main-content {
  visibility: hidden;
  animation: revealContent 0s ease 2s forwards;
}

@keyframes revealContent {
  to {
    visibility: visible;
  }
}


